.search-container{
    background-color: rgba(0, 0, 0, 0.85);
    text-align: center;
    line-height: 40px;
}
.search-container input{
    width: 75%;
}
.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    border-right: 1px solid lightgray;
    margin-right: 5px;
    margin-left: 50px;
}

.pagination {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination button {
    margin-right: 15px;
    padding: 10px;
}

.pagination .selected {
    background-color: rgb(80, 80, 255);
    color: white;
}